<script type="text/javascript">
  <% if logged_in?%>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>
</script>
<link rel="shortcut icon" type="image/png" href="http://img-cache.cdn.gaiaonline.com/7eb407ab74005284f8fbd008f15e6ae4/http://i165.photobucket.com/albums/u65/boostelbow/Fate%20Stay%20Night/saber_chibi.png"/>

<main id="root"></main>
