// Place all the styles related to the api/anime_libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page{
  display: flex;
  justify-content: center;
}

.home-page li{
  list-style: none;
}

.anime-library-details{
  border-collapse: collapse;
}

.anime-library-details-item img{
  width:50px;
  height: 75px;
  cursor: pointer;
}

.anime-library-details-item > td{
  font-size: 14px;
}

.library-details-title{
  cursor: pointer;
  color: #00635d;
}

.library-details-title:hover{
  text-decoration: underline;
}

.anime-library-index{
  width: 83%;
  margin: auto;
}

.anime-library-index > h2{
  color: #00635d;
  padding-bottom: 5px;
  border-bottom: 1px solid #bebebe;
  font-size: 20px;
  width: 1120px;
  margin: auto;
  margin-top: 30px;
}

.library-rows{
  width:100%;
  text-align: left;
}


.library-rows th{
  border-bottom: 1px solid #bebebe;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}


.anime-library-details-item td{
  vertical-align: top;
  border-bottom: 1px solid #bebebe;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

}

.library-details-title{
  width:25%;
}

.lib-detail-cover{
  min-height: 100px;
}


.cover-img:hover{
  // margin-left: 140px;
  // padding-right: 150px;
  // padding-top: 220px;
  background-color: transparent;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
  box-shadow: rgba(63, 52, 60, 0.55) 0 0 8px 8px;
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 220px;
}

// .lib-details-cover:hover:after {
//   background: transparent;
//   content: " ";
//   height: 75px;
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 210px;
//   z-index: 20;
// }

*{
  -webkit-transition:all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.libraries > span{
  font-size: 16px;
  color: #aaa;
  font-weight: bold;
}

.libraries > ul{
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 10px;
  color: #00635d;
}

.libraries li:hover {
  text-decoration: underline;
}


.libraries{
  flex-direction: column;
  display: flex;
  padding-right: 40px;
  border-right: 1px solid #bebebe;
  margin-top: 20px;
}

.rename-cancel{
  font-size: 12px;
  cursor: pointer;
  margin-left: 15px;
}


.edit-lib{
  font-size: 12px;
  color: teal;
  cursor:pointer;

}

.edit-lib:hover{
  text-decoration: underline;
}

.library-details{
  width:900px;
  padding-left: 20px;
}

.default-anime-libraries{
  border-bottom: 1px solid #bebebe;
  margin-bottom: 0;
  padding-bottom: 20px;
  margin-top: 5px;
}


.default-anime-libraries > li{
  cursor:pointer;
}

.custom-anime-libraries > li{
  cursor: pointer;
}

.custom-anime-libraries{
  margin-bottom: 5px;
}

.add-library{
  font-weight: bold;
  font-size: 14px;
}

.add-library button{
  background-color: #F4F1EA;
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  cursor:pointer;
}

.add-lib-form button:hover{
  background-color: #dbd8d2;
}

.add-lib-form button{
  padding: 4px 12px;
  margin-left: 5px;
}

.libraries input{
  width: 100px;
  border-radius: 3px;
  color: #333333;
  border: 1px solid #dcd6cc;
  height: 20px;
}


.lib-index-add-lib input{
  width: 100px;
}

.add-library button:hover{
  background-color: #dbd8d2;
}

.add-library-button:hover{
  background-color: #dbd8d2;
}

.add-library-button{
  background-color: #F4F1EA;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
  color: #333333;
}


.th-cover{
  width:50px;
}

.th-title{
  width:25%;
}

.th-libraries{
  width:100px;
}

.th-date-start{
  width:105px;
}

.th-date-done{
  width:120px;
}

.edit-library li{
  list-style: none;
}

.selected-lib{
  font-weight: bold;
  color: #ff7f50;
}

.edit-library{
  width:350px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll;
}

.edit-library div{
  display: inline-block;
}

.edit-library .add-library input{
  width: 200px;
}

.edit-library li{
  padding: 5px;
}

.edit-lib-close{
  float:right;
  cursor: pointer;
  font-size: 10px;
}

.edit-header{
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 1px solid #bebebe;
  padding-left: 20px;
  border-bottom: 2px solid #EBE8D5;
}

.edit-lib-container{
  padding: 0;
}

.edit-library-add{
  margin: 0px, auto;
}

.edit-library-add input{
  padding: 8px 12px;
}

.edit-library-add button{
  padding: 8px 12px;
  margin-left: 8px;
}

.edit-lib-lib-name{
  font-size: 12px;
}

.rename-show{
  cursor:pointer;
}

.edit-lib-libs{
  border-bottom: 1px solid #d7d7d7;
}

.rename-save{
  background-color: #F4F1EA;
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  padding: 4px 12px;
  cursor: pointer;
  font-size: 11px;
  margin-left: 8px;
}

.rename-save:hover{
  background-color: #dbd8d2;
}
.rename-show:hover{
  text-decoration: underline;
}

.edit-library p{
  margin-bottom: 0px;
}

.edit-library-add form{
  display:inline-block;;
  margin-left: 30px;
}
.rename-lib-form{
  display:inline-block;
}

.edit-lib-del{
  padding: 5px;
  padding-right: 10px;
  font-size: 12px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.lib-detail-type{
  height: 75px;
}

.lib-detail-delete{
  font-size: 10px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.no-ani-lib{
  text-align: center;
  color: #aaaaaa;
  padding: 20px;
  padding-top: 50px;
  font-size: 20px;
}

.no-ani-lib > a{
  text-decoration: none;
  color: #aaaaaa;
}

.no-ani-lib > a:hover{
  text-decoration: underline;
}
