// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-index-container{
  width:1100px;
  margin-left:560px;
}

.new-review-form{
  margin: 0 auto;
  width: 500px;
}
