// Place all the styles related to the api/user_animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dropdown-container{
  position:relative;
  display:inline-block;
}

.dropdown{
  position:absolute;
  z-index: 50;
  background-color: white;
  width:225px;
  border-radius: 5px;
}

.dropdown-button{
  width: 225px;
}

.add-user-anime{
  cursor: pointer;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.add-user-anime label:hover{
  background-color: #d3d3d3;
}

.add-user-anime label{
  display: block;
}
