/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 nav {
   height:56px;
   display: block;
   background-color: #f4f1ea;
   border: 1px solid black;
   border-right: 0
 }

 nav > li{
   list-style: none;
   background-color: #f4f1ea;
 }

 nav > button{
   border: none;
   outline: none;
   cursor: pointer;

 }

 nav > button:hover{
   background-color:  #382110;
   color: white;
 }





 nav a{
   display: inline-block;
   text-align: right;
   padding: 10px;
   padding-top: 20px;
   text-align: center;
   text-decoration: none;
 }

 #background-video{
   position: absolute;;
    /*top: 50%;*/
    /*left: 50%;*/
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    /*transform: translateX(-50%) translateY(-50%);*/
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.9;
    display: inline-block;



 }

 .hero-overlay{
   position: absolute;
   top:0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(0,0,0,0.5);
   min-height: 126%;
   min-width: 100%;
   width: auto;
   height: auto;
 }

 .hero-section{
   position: relative;
   height: 100vh;
 }

 .about{
   margin-top: 200px;
 }

 .intro{
   position: absolute;
   margin: 0 auto;
   left: 30%;
   width:500px;
   text-align: center;
   margin-top: 175px;
 }

 .intro-message{
   font-size: 20px;
   color: white;
   font-weight: bold;
   text-align: center;
 }

 .learn-more{
   font-size: 20px;
   color: white;
   text-align: center;
   font-weight: bold;
   text-decoration: underline;
   cursor: pointer;
 }

 .watermark{
   font-size: 32px;
   color: white;
   font-weight: bold;
 }

 .logo > a{
   float:left;
   color: #463020;
   font-family: Helvetica;
   font-size: 24px;
   padding-top: 17px;
   border-right: none;
 }

 .logo1{
   font-weight: 300;
 }

 .logo2 {
   font-weight:600;
 }

 .login{
 }

 .auth-link{
   float:right;
 }

 .auth-link{
   color: black;
   height: 56px;
   background-color: #f4f1ea;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   font-size: 16px;
 }


 .descr{
   display: flex;
   justify-content: space-around;;

 }

 .descr > p{
   width: 200px;
 }


 .welcome{
   text-align: center;
 }


 .login-message{
   display: inline-block;
   margin-top: 20px;
   color: black;
   margin-left: 20px;
 }

 .browse > a{
   float:left;
   height:27px;
   color: black;
 }

 .browse > a:hover{
   background-color:  #382110;
   color: white;
 }
